/*PROJETO BIOGRAFIA*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}


body{
    min-height: 340vh;
    height: 100vh;
    background-color:#7387AD;
}

#linha_topo{
    width: 100%;
    top: 0;
    position: fixed;
}

#topo{
    background-color: #010101;
    height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#topo img{
    margin-top: 0.7%;
    width: 30%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu{
    background-color: #E89E0B;
    display: flex;
    justify-content: center;
    top: 0px;
    z-index: 1;
}

#menu ul{
    list-style: none;
}

#menu ul li{
    display: inline;
}

#menu ul li a{
    display: inline-block;
    padding: 10px 20px;
    color: rgb(16, 16, 16);
    font-size: 17px;
}

#menu ul li a:hover{
    background-color: #e9b03e;
}

#conteudo{
    padding: 4vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card{
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  #e3e3e3;
    background-color: #394e73;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

#p1{
    height: 100vh;
    padding-top: 230px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#p1 h2{
    font-size: 3.5em;
    margin-left: 5vh;
    text-align: center;
}

#p1 p{
    font-size: 1.45em;
    margin-left: 5vh;
}
.column{
    float:left;
    width: 33.33%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.column.middle{
    width: 68%;
}

.column.side{
    width: 29%;
}

.column.side figure img{
    width: 100%;
    height: 100%;
}
.card p{
    font-size: 1em;
    display: flex;
    text-align: center;
}

#p2{
    height: 90vh;
    padding-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    float: left;
}

#p2 .card h2{
    font-size: 1.7em;
    color: #f1f1f1;
    margin-left: 2vh;
    text-align: center;
}

#p2 .card p{
    font-size: 1em;
    color: #f1f1f1;
    display: flex;
    text-align: center;
}

.card img{
    margin: 2% 2% 2% 5%;
    width: 90%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#p3{
    height: 100vh;
    padding-top: 260px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
    text-align: center;
    float:left;
    width: 33.33%;
}

#spotify{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    float: left;
    background-color: #E89E0B;
}

#disco{
    width: 20%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    float: left;
    font-size: 1em;
}

#p4{
    height: 100vh;
    padding-top: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
}

#curiosidade{
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
    font-size: 1.6em;
    float: left;
}

#mammamia{
    width: 20%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    float: left;
}

#rodape{
    height: 120px;
    background-color: #7387AD;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

#rodape a button {
    background-color: #E89E0B; 
    border-radius: 3em;
    color: rgb(0, 0, 0);
    padding: 0.85em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    justify-content: space-around;
    font-size: 0.85em;
    margin-left: 5%;
}

#rodape a img{
    width: 5%;
    height: 5%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    flex-direction: row;
    float: left;
}

@media screen and (max-width: 600px) {
    .column.middle, .column.side {
        width: 100%;
    }
}